{%- for import_ in imports -%}
{{import_}}
{% endfor %}

{%- for model in models -%}
{{"\n"}}
{%- if not model.protocol_import %}
@dataclasses.dataclass
{%- endif %}
class {{model.python_type.declaration}}
{%- if model.protocol_import -%}
(typing.Protocol)
{%- endif -%}:
    {%- for field in model.fields %}
    {{field}}: {{model.fields[field].annotation}}
    {%- endfor %}
{%- endfor -%}
{{"\n"}}
